.idea/scopes
.idea
contact_api
contact
contact/migrations
.idea/scopes/scope_settings.xml
.idea/.name
.idea/contact_api.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
contact/migrations/0001_initial.pyc
contact/migrations/__init__.pyc
contact/__init__.pyc
contact/admin.pyc
contact/api.pyc
contact/models.pyc
contact/serializers.pyc
contact_api/__init__.pyc
contact_api/settings.pyc
contact_api/urls.pyc
contact_api/wsgi.pyc
